.introduction {
  text-align: center;
}

.about-me {
  text-align: center;
  font-size: 20px;
  border: solid #edf2f6 6px;
}

.hobbies {
  text-align: center;
  font-size: 20px;
  border: solid #edf2f6 6px;
  margin-top: 30px;
}

.portfolio {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.webpage1 {
  float: left;
  padding: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.webpage2 {
  float: right;
  padding: 8px;
  padding-bottom: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.webpage-link {
  text-align: center;
}
.connect {
    padding: 8px;
    font-size: 18px;
    margin-left: 280px;
}

.title {
  font-weight: bold;
  color: white;
  text-align: center;
}

body {
background-color: #7AB7BF;
color: black;
font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 40px;
  color: white;
  margin: 40px;
}

h2 {
  color: white;
  margin: 40px;
  margin-bottom: 60px;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: white;
}

h4 {
  font-size: 30px;
  text-align: center;
  color: white;
}
